.nb-gradle/
Standalone_Server/.nb-gradle/
Standalone_Server/build/
Standalone_Server/.gradle/
/Shifty_Encryption/build/
/WebAppTest/build/*
/WebAppTest/app/build/*
/Shifty/build/*
/Shifty/app/build/*
*.jar